.course {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.course.selected {
  background-color:lemonchiffon;
  color: green;
}

.top-right-button {
  position: absolute;
  right: 20px;
  top: 70px;
}